body {
    background-color: #fff7eb;
    font-size: 18px;
    font-family: monospace;
    color: black;
    text-align: center;
    margin-top: 130px;
    overflow-x: hidden;
}

h1 {
    font-size: 60px;
    font-family: monospace;
    color: black;
    margin-top: 140px;
}

.dropdown-content{
    float:left;
}

.border {
    background: linear-gradient(#e77777, #e7af77);
    position: fixed;
    top: 0; 
    bottom: 0;
    width: 8px;
    margin-top: 133px;
    height: 650px;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

.navigation_bar {
    background: linear-gradient(#e77777, #e7af77);
    color: #fee6c2;
    padding: 30px;
    text-decoration: none;
    position: fixed;
    flex-direction: row;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid black;
    z-index: 10;
}

.bar_item {
    margin: 15px;
    font-size: 28px;
}

#real_logo {
    margin-top: 0px;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 50px;
}

a {
    text-decoration: none;
    color: #fee6c2;
}

.bar_item a:link, .bar_item a:visited {
    color: #fee6c2;
}

a:hover {
    background-color: #C2DAFE;
    color: #fee6c2;
}

.images{
    align-self:center;
}
.home_slides {
    justify-content: center;
    margin-top: 132px;
    border: solid 3px black;
    height: 680px;
    width: 100px;
    width: 99.6%;
    display: cover;
}

#recipes {
    color: black;
}

.details {
    width: 800px;
    background-color: #AFD275;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 5px black;
}

.container {
    display: flex;
    width: 100%;
    color: black;
}

.art {
    width: 33.33%;
    background-color: #e7af77;
    border: 3px solid black;
}

.recipes{
    background-color: black;
    color:white;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(#e77777, #e7af77);
    border: 2px solid #e7af77;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


.queryOption {
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    border: 10px solid #C2CAD0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    background-color: #AFD275;
}

#searchbox {
    width: 40vw;
}

#preferences {
    width: 350px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#email {
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.queryBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    font-family: 'Helvetica Neue';
    font-weight: bolder;
    color: #595959;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    width: 80%;
    text-transform: uppercase;
    /* background-color: #FEE58C; */
    background-color: #E7E777;
    padding: 10px;
    margin: 5px;
    align-self: center;
}

input[type="text"], input[type="password"] {
    background-color: #C2CAD0;
}

.buttonBox, .dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

#saved_recipes {
    width: 75vw;
}

ul {
    list-style: none;
    text-align: center;
    display: flex;
}

li {
    border: 5px solid black;
    margin: 5px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}

.column {
    float: left;
    width: 67%;
    margin-right: 10px;
    color:black;
    background-color: #fee6c2;
    border: solid 2px black;
    overflow-y: auto;
    height: 500px;
}

.column2{
    float: left;
    background-color: #AFD275;
    width: 30%;
    border: solid 2px black;
    overflow-y: auto;
    height: 500px;
}

.shoppingBag{
    width:70%;
    height:70%;
}

.shopBag{
    float:left;
    color:black;
    max-width: 50%;

}

.recipeText{
    color:black;
    position:relative;
    text-align:center;
    float:left;
    width:100px;
    font-size:18px;
    left: 200px;
    top: 80px;
}

.bagContainer{
    position:relative;
    text-align:center;
}

.rollingDonut{
    position:relative;
    animation-name: rollDonut;
    animation-duration: 2s;
    animation-iteration-count:9999;
}

@keyframes rollDonut {
    from{
        left:-50%;
        transform: rotate(0deg);
    }to{
        transform:rotate(720deg);
        left:50%;
    }

}

.recpTitle{
    font-family: monospace;
    font-size: 50px;
    background-color: black;
}

.recipeFood{
    background-size: contain;
    border: solid black 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.signContainer {
    display: flex;
    width: 25vw;
    /* max-width: 25vw; */
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    border: 10px solid #8aa1e6;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    background-color: #8de0b7;
}

.signBox {
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.survey {
    display: flex;
    width: 50vw;
    /* max-width: 25vw; */
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #AFD275;
    padding: 20px;
}

/* #left_survey {
    left: 0px;
}

#right_survey {
    right: 0px;
} */

/* Customize the label (the container) */
.check {
    display: flex;
    width: 15vw;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.check:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.check input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check input:checked ~ .checkmark:after {
    display: block;
}
  
.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

input[type="submit"].survey_button {
    border: 3px solid black;
    width: 400px;
}


.dropbtn {
    background-color: #C2CAD0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: slategray;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: inline-block;}

.dropdown:hover .dropbtn {background-color: #e8ebed;}

.portrait {
    width: 100%;
    height: 350px;
}

.featured {
    width: 100%;
    height: 500px;
}

.logbox {
    width: 350px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

#last_q {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 450px;
    font-size: 20px;
}

.score {
    color: #fee6c2;
    font-size: 16px;
}

.side_recipes {
    font-size: 24px;
}

#score_note {
    background-color: black;
    font-size: 30px;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

#weights {
    min-height: 150px;
}